.card-repo {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;

	&__img {
		display: block;
		height: 200px;
		width: 200px;
	}

	&__name {
		font-size: 1.5em;
		font-weight: 700;
		margin-left: 10px;
	}

	&__stars {
		margin-left: auto;
	}
}