.repos-list__search {
	display: flex;
	margin: 10px 0;

	&-input {
		padding: 5px;
		width: 100%;
	}

	&-button {
		padding: 5px;
	}
}

.is-fetching {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	margin: 30vh auto;
	border: 2px dashed blue;
	animation: 1.5s linear infinite alternate fetching;
}

@keyframes fetching {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg) scale(1.5);
	}
}

.pagination {
	margin: 20px 0;

	&__page, &__current {
		border: 1px solid lightgrey;
		border-radius: 100%;
		padding: 5px 10px;
		margin: 0 10px;
		cursor: pointer;
	}

	&__current {
		border-color: blue;
	}
}