.repo {
	border: solid 2px lightgrey;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;

	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;

		&-name {
			font-size: 1.2em;
			font-weight: 500;
		}
	}

	&__last-commit {
		margin-bottom: 20px;
		align-self: flex-end;
	}

	&__link {
		align-self: flex-end;
	}
}